<!DOCTYPE html>
<html lang="nl">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FDND Squad</title>

	<link rel="stylesheet" href="styles.css">


	<script src="/icons/fontawesome.min.js" defer></script>
	<script src="/icons/duotone.min.js" defer></script>
	<script src="/icons/brands.min.js" defer></script>
</head>

<body>
	<header>
			<div class="wrapper">
				<h1 class="logo">fdnd</h1>
			</div>
		</header>

		<main>
			<div class="wrapper wrapper--no-padding">
				<ul class="carousel">
					<% for(let member of locals.members) {%>
						<li class="carousel__item">
							<img class="carousel__item__image" src="<%- member.avatar %>" alt="">
							<div class="carousel__item__content">
								<h2><%- member.name %></h2>
								<a href="<%- member.website %>" target="_blank">Naar visitekaartje <i class="fa-duotone fa-up-right-from-square"></i></a>
							</div>
						</li>
					<% } %>
				</ul>
			</div>

			<div>
				<button class="button">
					<i class="fa-duotone fa-chevron-left"></i>
				</button>
				<button class="button">
					<i class="fa-duotone fa-chevron-right"></i>
				</button>
			</div>
		</main>
</body>

</html>