/* Imports */

/* Font faces */
@font-face {
	font-family: Mulish;
	src: url('fonts/mulish/Mulish-VariableFont_wght.ttf');
	font-weight: 400;
	font-style: normal;
}

/* Custom properties */
:root {
	--font-size: 1em;
	--font-family: Open Sans, sans-serif;

	--primary-color: #66E5BF;
	--secondary-color: #A675F5;
	--complementary-color: #FF6200;
	--accent-color: #FF00D0;

	--success-color: #22C55E;
	--info-color: #3B82F6;
	--warning-color: #F59E0B;
	--danger-color: #EF4444;

	--text-color: #050542;
	--background: #050542;
	--background-blur: blur(3px);
	--foreground: rgba(255, 255, 255, .75);

	--content-width: 100%;

	--breakpoint-sm: 36rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 62rem;
	--breakpoint-xl: 75rem;
	--breakpoint-xxl: 90rem;
}

/* Defaults */
*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: var(--font-size);
	background: var(--background);
	color: var(--text-color);
	font-family: var(--font-family);
}

body::before,
body::after {
	width: 100%;
	height: 300px;
	display: block;
	position: fixed;
	z-index: 0;
}

body::before {
	content: '';
	top: 0;
	background-image: url('images/layered-waves-top.svg');
}
body::after {
	content: '';
	bottom: 0;
	background-image: url('images/layered-waves-bottom.svg');
}

main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	z-index: 1;
	position: relative;
}

.wrapper {
	max-width: var(--content-width);
	height: 100%;
	margin-inline: auto;
	padding: 1rem;
	z-index: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.wrapper--no-padding {
	padding: 0;
}

.button {
	font-size: 2em;
	padding: 1rem;
	border-radius: 2em;
	border: 1px solid var(--foreground);
	background: var(--foreground);
	backdrop-filter: var(--background-blur);
	display: inline-flex;
}

.svg-inline--fa {
	width: 1em;
	height: 1em;
}

.buttons {
	display: flex;
	justify-content: space-between;
	max-width: 400px;
}

.logo {
	display: inline-block;
	width: fit-content;
	background-color: var(--background);
	padding: .5rem 1rem;
	border: 1px solid var(--secondary-color);
	border-radius: .5rem;
	color: var(--secondary-color);
	box-shadow: -4px 4px 0px #A675F5;
}

.carousel {
	list-style: none;
	padding-inline: 1rem;
	display: inline-flex;
	width: 100%;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel__item {
	flex: 1 0 auto;
	scroll-snap-align: center;
	scroll-snap-stop: always;
}

.carousel__item article {
	overflow: hidden;
	background: var(--foreground);
	backdrop-filter: var(--background-blur);
	border-radius: 2rem;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: inline-block;
}

.carousel__item article img {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.carousel__item__content {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: var(--text-color);
}

.carousel__item__content a {
	text-decoration: none;
}
.carousel__item__content a:hover {
	text-decoration: underline;
}

/* Media queries */
@media (min-width: 36rem) {
	:root {
		--content-width: var(--breakpoint-sm);
	}
}

@media (min-width: 48rem) {
	:root {
		--content-width: var(--breakpoint-md);
	}
}

@media (min-width: 62rem) {
	:root {
		--content-width: var(--breakpoint-lg);
	}
}

@media (min-width: 75rem) {
	:root {
		--content-width: var(--breakpoint-xl);
	}
}

@media (min-width: 90rem) {
	:root {
		--content-width: var(--breakpoint-xxl);
	}
}